HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/.gradle/
/.gradle/6.8/
/.gradle/buildOutputCleanup/
/.gradle/checksums/
/.gradle/configuration-cache/
/.gradle/vcs-1/
/build/
.idea/dataSources.xml
.idea/dataSources.xml
build/tmp/compileJava/source-classes-mapping.txt
build/resources/main/application.yml
.idea/dataSources.xml
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/6.8/javaCompile/taskHistory.bin
.gradle/6.8/javaCompile/javaCompile.lock
.gradle/6.8/fileHashes/fileHashes.lock
.gradle/6.8/fileHashes/fileHashes.bin
.gradle/6.8/executionHistory/executionHistory.lock
.gradle/6.8/executionHistory/executionHistory.bin
.gradle/6.8/executionHistory/executionHistory.bin
